#welcome-box-evluate {


}
#welcome-box-evluate p {
  font-size: 20px;
  margin: 20px 50px;
  text-align: center;
  line-height: 1.5;
}

#evaluate-information-screen {
  width: fit-content;
  padding: 30px;
  border-radius: 10px;
  border: 3px double rgb(98, 98, 251);
  font-size: 20px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.add-photos-space {
  display: flex;
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  color: grey;
  font-size: 16px;
}
.add-photo-item {
  position: relative;

}
.custom-file-label { 
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.custom-file-label p {
  margin: 0;
  text-align: center;
}

.add-photo-image {
  opacity: .7;
  margin: 5px 0;
}
.remove-photo {
  width: 15px;
  height: 15px;
  position: absolute;
  right: 10px;
  bottom: 0px;
  cursor: pointer;
  z-index: 2;
}



#evaluate-information-screen select {
  border-radius: 10px;
  height: 40px;
  width: 350px;
  margin-top: 5px;
  text-indent: 3px;
  font-size: 16px;
  &:focus-visible {
    outline: none;
    border: rgb(98, 98, 251) solid 2px;
  }
}

#evaluate-information-screen h4 {
  margin: 0px;
}

.evaluate-information-label {
  width: 100%;
  color: grey;
  font-size: 18px;
  margin-top: 15px;
}

#evaluate-information-screen button {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: rgb(98, 98, 251);
  border: none;
  font-size: 20px;
  color: white;
  cursor: pointer;
  margin: 20px auto 0px auto;
  &:hover {
    transform: scale(1.03);
    background-color: rgb(128, 128, 249);
  }
}

