#welcome-box-evluate {


}
#welcome-box-evluate p {
  font-size: 20px;
  margin: 20px 50px;
  text-align: center;
  line-height: 1.5;
}

#evaluate-information-screen {
  width: fit-content;
  padding: 30px;
  border-radius: 10px;
  border: 3px double rgb(98, 98, 251);
  font-size: 20px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

#evaluate-information-screen select {
  border-radius: 10px;
  height: 40px;
  width: 350px;
  margin-top: 5px;
  text-indent: 3px;
  font-size: 16px;
  &:focus-visible {
    outline: none;
    border: rgb(98, 98, 251) solid 2px;
  }
}

#evaluate-information-screen h4 {
  margin: 0px;
}

#evaluate-information-screen label {
  display: block;
  width: 100%;
  color: grey;
  font-size: 18px;
  margin-top: 20px;
}

#evaluate-information-screen button {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: rgb(98, 98, 251);
  border: none;
  font-size: 20px;
  color: white;
  cursor: pointer;
  margin: 20px auto 0px auto;
  &:hover {
    transform: scale(1.03);
    background-color: rgb(128, 128, 249);
  }
}

