
h1, h2,h3, h4, h5, input, select, button, div {
  font-family:monospace
}

body {
  position: relative;
  margin: 0; 
}

.page-content {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {  
  height: 100px;
  display: flex;
}

footer p {
  color: white;
  margin: auto auto;
}

